{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <p class="text-center p-3 mt-3 fs-1">Add Blog</p>
            <form method="POST" class="p-2">
                {% csrf_token %}
                <input type="text" name="blogTitle" class="form-control m-2" placeholder="Blog Title">
                <input type="date" name="publishDate" class="form-control m-2" placeholder="Publish date">
                <input type="text" name="autherName" placeholder="Writer Name" class="form-control m-2">
                <textarea name="blogContent" id="" cols="30" rows="10" placeholder="Type Here" class=" m-2 form-control"></textarea>
                <button type="submit" class="m-2 btn btn-outline-primary">Save</button>
            </form>

            {% if condition is True %}
            <div class="text-center">
                <label class="fs-5 text-bg-success p-3 " style="border-radius: 5px;">{{status}}</label>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}