{% extends 'base.html' %}

{% block content %}
    
    <h1 class="text-center fs-2 mt-5">SignUp</h1>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 p-4">
              <img src="/static/images/Signup.png" alt="">
            </div>
            <div class="col-md-6">
                <form method="POST" class="mt-5">
                    {% csrf_token %}
                    <input type="text" class="form-control mt-2" placeholder="First Name" name="firstName">
                    <input type="text" class="form-control mt-2" placeholder="Last Name" name="LastName" >
                    
                    <input type="text" class="form-control mt-2" placeholder="User Name" name="UserName" >
                    <input type="email" class="form-control mt-2" placeholder="Email" name="email" >
                    <input type="password" class="form-control mt-2" placeholder="Password" name="Password" >
                    <input type="password" class="form-control mt-2" placeholder="Confirm Password" name="ConfirmPassword">
                    <button type="submit" class="btn btn-outline-dark mt-2">Register</button>
                    {% if condition is True %}
                    <div class="text-center">
                        <label class="fs-5 mt-4 text-bg-danger p-3 " style="border-radius: 5px;">{{status}}</label>
                    </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
   
{% endblock %}